services:
  ${project_name}:
    build: .
    container_name: ${project_name}
    command: uv run fastapi run --host 0.0.0.0 --port 8000 --reload
    volumes:
      - ./app:/app/app
    ports:
      - "8000:8000"
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
